.box{ 
width: 700px;
height: 600px;
border: 5px solid red;
display:flex  ;
justify-content:center ;
align-items:center;
}
.child{
 background-color: rgb(221, 103, 0);
 width: 150px;
 height: 150px;   
 border: 2px solid blue;
}
